body {
    background:linear-gradient(#67d4e4,black);
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

.navbar header b a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.login-container {
    background: transparent;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

.login-form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #045a68;
}
