<!doctype html>
<html>
    <head>
        <title>SPYGAURD</title>
        <link rel = "stylesheet" href=" {{url_for('static', filename='style.css' )}}" >
        </head>
    <body>

        <div class = 'one_1'>
            <header>
                <b><a href="/" title="Go to home page" style = "color: white;">HOME</a></b><span> | </span>
                <b><a href="/members" style = "color: white;">MEMBERS</a></b>
                </header>
            </div>
        <div class = "container">
            <div class = 'box'>
                <a>SPYGAURD! </a>
            </div>
            <div>
        
        <div class = 'two_2'>
            <p class = "text" style = "color:whitesmoke; text-align: center; font-size: 18px; font-family: monospace;"> DIG THE NETWORK.... </p>
            </div>
        <br>

        <a id = "about" href="/optionList" >Welcome to SPYGAURD
            <br>Enter for network scanning</br>
        </a>

        <div class="three_3">
            
        </div>

    </body>
    </html>